<head>
	<title></title>
</head>
<body bgcolor="lightblue">
	<center>
	<h1>STUDENT DETAILS</h1>
	<hr>
<form action="" method="post">
	{% csrf_token %}
	Trainer name: <input type="text" placeholder="trainer name" name="tname"><br><br>
	Student name: <input type="text" placeholder="student name" name="sname"><br><br>
	Mobile number: <input type="text" placeholder="mobile" name="mob_num"><br><br>
	Course: <input type="text" placeholder="course" name="course"><br><br>
	Duration: <input type="text" name="duration"><br><br>
	time slot: <input type="text" name="time"><br>
    <br>
	<input type="submit" value="Register" name="enquiry">
	<input type="reset" value="Cancel" name="enquiry">
	<input type="radio" value="show details" name="confirm">

</form>
</center>
</body>
</html>